<%= csrf_meta_tags %>
<%= stylesheet_link_tag "bootstrap.css" %>
<%= stylesheet_link_tag "login.css" %>
<script src="<%= asset_path 'jquery-3.6.0.slim.min.js' %>"></script>
<script src="<%= asset_path 'bootstrap.js' %>"></script>

<style>
p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}
</style>

<div class="collapse bg-dark" id="navbarToggleExternalContent">
<div class="d-none d-md-block container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2"></div>
        <div class="col-4 col-sm-4 col-md-4" style="line-height: 1em;">
            <h4 class="text-white">About</h4>
            <p.not() class="text-muted" style="font-size:11px;">I am a major comuter enthusiast. I love everything from programming to security to networking to hardware. I have been using
            computers since I can remember, and have always been interested in how they work. I pride myself in being diverse in my skillset, I know
            multiple languages most recently including C/C++, C#, python, and x86 Assembly, but am still always learning. I did some web development as a kid in middle school but
            it has been a long time. I hope you enjoy my crappy ruby on rails website.</p>
        </div>
        <div class="col-2 col-sm-2 col-md-2"></div>
        <div class="col-4 col-sm-4 col-md-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
                <li><a href="https://github.com/PwndDepot/" class="text-white">Checkout my Github</a></li>
                <li class="text-white">Email: travis@brunimail.com</li>
                <li class="text-white">Discord: PwnDepot#2355</li>
            </ul>
        </div>
    </div>
</div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<a class="navbar-brand" href="/">Trav's Portofolio Site</a>

<div class="collapse navbar-collapse" id="navbarsDefault">
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/" style="font-size:18px;">Home</a>
    </li>
        <% if !user_signed_in? %>
                <li class="nav-item" style="font-size:18px;">
                    <%= link_to 'Sign In' , new_user_session_path, class: "nav-link active" %>
                </li>
                <li class="nav-item" style="font-size:18px;">
                    <%= link_to 'Sign Up' , new_user_registration_path, class: "nav-link" %>
                </li>
            <% else %>
            <li class="nav-item" style="font-size:18px;">
                <%= link_to 'New Project', new_project_path, class: "nav-link" %>
            </li>
        <% end %>
</ul>


    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="d-flex justify-content-between">
            <button class="d-none d-md-block navbar-toggler" href="#collapse1" type="button"
                data-target="#navbarToggleExternalContent" data-toggle="collapse" aria-controls="navbarHeader"
                aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <% if user_signed_in? %>
    <li class="nav-item navbar-nav" style="font-size:18px;">
        <%= link_to 'My Account', edit_user_registration_path, class: "nav-link", style: "color:white;" %>
    </li>
    <li class="nav-item navbar-nav" style="font-size:18px;">
        <%= link_to('Sign Out', destroy_user_session_path, class: "nav-link" , method: :delete) %>
    </li>
    <% end %>
</div>
</nav>



<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h3>Log In</h3>
      </div>
      <div class="alert">
        <% if flash[:alert] %>
        <%= flash[:alert] %>
        <% end %>
      </div>
      <!-- Login Form -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            
              <%= f.email_field :email, autocomplete: "off", autofocus: true, :placeholder => 'Email', :id => 'login', class: ["fadeIn", "second", "inputForm"] %>
              <%= f.password_field :password, :placeholder => 'Password', :id => 'password', class: ["fadeIn", "second", "inputForm"] %>
              <br>
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              <% end %>
              <br>
            <div class="actions">
            <%= f.submit "Log in", class: ["fadeIn", "fourth"], :style => "font-size:15px" %>
            </div>
          <% end %>

          <!-- Remind Passowrd -->
            <%= link_to 'Forgot Password?', new_password_path(resource_name), class: "underlineHover" %>

          
  
    </div>
  </div>